<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %> 
        <% include ../static/partials/sideBar.ejs %>

        

        <main class="container">
            <h1><%= day.date %> </h1>

            <ul class="list-group">
                <% children.forEach((child) => { %>
                    <% if(currentUser && (currentUser.id === child.userId)) { %>
                        <li class="list-group-item"> 
                            <div class="childName">
                                <%= child.firstName %> 
                            </div>

                            <h3>Option 1: </h3>
                            <h5><%= day.mealOne %></h5>
                            <%= day.mealOneDesc %>

                            <h3>Option 2: </h3>
                            <h5> <%= day.mealTwo %></h5>
                            <%= day.mealTwoDesc %>

                            <h3>Option 3: </h3>
                            <h5> <%= day.mealThree %></h5>
                            <%= day.mealThreeDesc %>
                        </li>

                        
                    <% } %>
                <% }) %>
            </ul>

            <form action="/mealOrder/newOrder" method="post">
                <div class="form-group">
                    <label for="childId"><%= child.firstName %></label>
                    <input type="hidden" name="childId" value=<%= child.id %>>
                </div>

                <div class="form-group">
                    <label for="date"><%= day.date %></label>
                    <input type="hidden" name="date" value=<%= day.date %>>
                </div>

                <div class="form-group">
                    <select name="mealOrdered">
                        <option value="mealOne"><%= day.mealOne %></option>
                        <option value="mealTwo"><%= day.mealTwo %></option>
                        <option value="mealThree"><%= day.mealThree %></option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="hidden" name="userId" value=<%= user.id %>>
                </div>
            </form>
            
        </main>
        
    </body>
</html>