<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <% include ../static/partials/navbar.ejs %> 
        <% include ../static/partials/sideBar.ejs %>

        

        <main class="container"> 
            <div class="calendarMonth">
                <table id="month" style="width:100%">
                    <colgroup>
                        <col span="5">
                    </colgroup>
                    <th colspan="5">October 2018</th>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th> 
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                      
                    <tr>
                        <% days.forEach((day) => { %>
                            <% if(day.weekDay === 'Monday') { %> 
                            
                            <tr>
                            <% } %>

                                <td>
                                        <div class="dayId">
                                            <a href= "/calendar/day/<%= day.id %>"><%= day.dayNumber %></a><br>
                                        </div>
                                        
                                            <%= day.mealOne %><br>
                                            <%= day.mealTwo %><br>
                                            <%= day.mealThree %><br>
                                </td>
                            <% if(day.id === 'Monday') { %>

                            </tr>
                            <% } %>
                    
                        <% }) %>
                    
                </table>
            </div>
        </main>
        
    </body>
</html>