<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/sideBar.ejs %>

    <main class="container">
        <div class="emailHeader">
          <h4>To: </h4> <%= email.recipient %>
          <h4>From: </h4> <%= email.sender %>
          <h4>Subject: </h4> <%= email.subject %>
          <h4>Date:</h4> <%= email.createdAt %>
        </div>
        <div class="emailBody">
          <p><%= email.body %></p>
        </div>
          
        <form style="display:initial" action="/emails/<%= email.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>